.background {
    background-color: lightgray;
}

.swimLane {
    width: 1200px;
    height: 120px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.box {
    height: 120px;
    width: 3000000000px;
    border-right: 1px gray solid;
    margin-left: 0px;
    margin-right: -1px;
}

.hiddenBox {
    height: 120px;
    width: 3000000000px;
    border-radius: 4px;
    margin-left: 0px;
    margin-right: 0px;
}