.sourcesGrid {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 100px 1fr;
}


.sourceDisplayed {
    border-style: solid;
    border-color: grey;
    background-color: lightgray;
}



