.playlist {
    background: lightgray;
    max-width: 400px;
}

.minimal {
    width: min-content;
    height: 120px;
    background: lightgray;
}

.imageContainer {
    width: 50px;
    height: 50px;
}