.slider {    
    -webkit-appearance: none;  /* Override default CSS styles */
    background-color: transparent;
    cursor: pointer;
    width: 400px;
    height: 20px;
}

.oneSliderContainer {
    width: 400px;
    height: 60px;
    bottom: 0px;   
    display: flex;
    flex-direction: row-reverse;
}

.label {
    margin: 20px;
}

.touched::-webkit-slider-thumb {
    background: green;
}

.touched::-moz-range-thumb {
    background: green;
}


.slidersContainer {
    transform: rotate(270deg);
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 300px;
    margin-top: -200px;
}

.outmost {
    bottom: 0px;
    height: 400px;
}